@import '../../node_modules/bootstrap/scss/bootstrap.scss';
$fondo: black;
button {
    margin-right: 10px
}

img {
    width: 100px
}

body {
    box-sizing: border-box;
    background: $fondo;
    margin-left: 2cm;
    article {
        align-items: center;
        display: block;
        margin-block-start: 0.5cm
    }
    h1 {
        text-align: center;
        color: white;
        font-size: 22px
    }
    ;
    h2,
    p {
        color: white;
        font-size: 18px
    };
    h3 {
        color: white;
        font-size: 12px
    }
}