@import '../../node_modules/bootstrap/scss/bootstrap.scss';
$fondo: black;
button {
    margin-right: 10px
}

img {
    width: 100px
}

body {
    box-sizing: border-box;
    background: $fondo;
    margin-left: 2cm;
    article {
        align-items: center;
        display: block;
        margin-block-start: 2cm
    }
    h1 {
        text-align: center;
        color: white
    }
    ;
    h2,
    h3,
    h4,
    p {
        color: white
    }
}